<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="omanonline-card-front">
        <ng-content select="[omanonlineCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="omanonline-card-back">
        <ng-content select="[omanonlineCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="omanonline-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[omanonlineCardExpansion]"></ng-content>
    </div>

</ng-container>
