<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex flex-col items-center p-6 sm:p-10">
    <div class="flex flex-col w-full max-w-4xl">
      <div class="-ml-4 sm:mt-8">
        <a mat-button [routerLink]="['../']" [color]="'primary'">
          <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
          <span class="ml-2">Back to Home</span>
        </a>
      </div>
      <div class="flex justify-between">
        <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
          Businesses
        </div>
        <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
          <a mat-button [routerLink]="['./favorite']" [color]="'primary'">
            <mat-icon svgIcon="heroicons_solid:bookmark"></mat-icon>
            <span class="ml-2">Favorite Businesses</span>
          </a>
        </div>
      </div>


      <!-- Filters -->
      <div class="flex flex-col sm:flex-row items-center w-full mt-10">
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
          <mat-select [value]="selectedCategory" (selectionChange)="selectCategory($event)">
            <mat-option [value]="'all'">All</mat-option>
            <ng-container *ngFor="let category of _businessCategories; ">
              <mat-option [value]="category.id">{{category.title}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
          <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
          <input (input)="filterByQuery(query.value)" [(ngModel)]="currentQuery"
            placeholder="Search by title or description" matInput #query>
        </mat-form-field>

      </div>


       <span *ngIf="!businessCategories" class="mr-auto mt-10 ml-auto">
        <mat-spinner></mat-spinner>
      </span>

      <ng-container *ngFor="let businessCategory of businessCategories">


        <!-- Check if businessCategory.business has elements -->
        <ng-container *ngIf="businessCategory.business.length >= 1">
          <div class="mt-12 sm:mt-16 text-3xl font-bold leading-tight tracking-tight">{{ businessCategory.title }}</div>
 
          <omanonline-card *ngFor="let business of businessCategory.business" class="flex flex-col lg:flex-row w-full mt-5">
            <!-- Price -->
            <div
                class="flex flex-col items-center p-8 lg:px-10 lg:py-12 lg:min-w-80 bg-gray-100 dark:bg-black dark:bg-opacity-10">
                <div class="flex items-center whitespace-nowrap">
                    <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                        <img class="w-full h-full" [src]="business.logo">
                    </div>
                </div>

                <a class="w-full mt-8 lg:mt-auto" mat-button [color]="'primary'"
                    [routerLink]="['/'+business.username.toLowerCase() ]">

                    Go to business
                </a>
            </div>
            <div class="p-6 sm:p-8 lg:p-10">
                <div class="text-3xl font-bold">{{business.name}}</div>
                <div class="mt-2 leading-relaxed text-secondary text-description">
                  {{ business.description }}

                </div>
                <div class="flex items-center mt-10">
                    <div class="font-medium text-secondary">Services</div>
                    <div class="flex-auto ml-2 border-b-2"></div>
                </div>
                <!-- Features -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 mt-6">
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 text-primary"
                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                        <div class="ml-2">Private forum access</div>
                    </div>
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 text-primary"
                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                        <div class="ml-2">Access to annual online conference</div>
                    </div>
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 text-primary"
                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                        <div class="ml-2">Member resources</div>
                    </div>
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 text-primary"
                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                        <div class="ml-2">Official member T-Shirt</div>
                    </div>
                </div>
            </div>

        </omanonline-card>


        </ng-container>
      </ng-container>

    </div>
  </div>

</div>