<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex flex-col items-center p-6 sm:p-10">
    <div class="flex flex-col w-full max-w-4xl">
      <div class="-ml-4 sm:mt-8">
        <a mat-button [routerLink]="['../']" [color]="'primary'">
          <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
          <span class="ml-2">Back to Home</span>
        </a>
      </div>
      <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
        Businesses
      </div>


      <!-- Filters -->
      <div class="flex flex-col sm:flex-row items-center w-full mt-10">
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
          <mat-select [value]="selectedCategory" (selectionChange)="selectCategory($event)">
            <mat-option [value]="'all'">All</mat-option>
            <ng-container *ngFor="let category of _businessCategories; ">
              <mat-option [value]="category.id">{{category.title}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
          <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
          <input (input)="filterByQuery(query.value)" [(ngModel)]="currentQuery" placeholder="Search by title or description" matInput #query>
        </mat-form-field>

      </div>


      <app-progress *ngIf="!businessCategories"></app-progress>

      <ng-container *ngFor="let businessCategory of businessCategories">


        <!-- Check if businessCategory.business has elements -->
        <ng-container *ngIf="businessCategory.business.length == 1">
          <div class="mt-12 sm:mt-16 text-3xl font-bold leading-tight tracking-tight">{{ businessCategory.title }}</div>
          <mat-accordion class="max-w-4xl mt-8">
            <ng-container *ngFor="let business of businessCategory.business">
              <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                  <mat-panel-title class="font-medium leading-tight">{{ business.username }}</mat-panel-title>
                </mat-expansion-panel-header>
                {{ business.description }}
                <br>
                <div
                  class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">

                  <a class="flex items-center" [routerLink]="['/'+business.username.toLowerCase() ]">
                    <span class="absolute inset-0"></span>
                    <span class="font-medium">Go to business</span>
                    <mat-icon class="ml-2 icon-size-5 text-current"
                      [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
                  </a>
                </div>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>
        </ng-container>
      </ng-container>

    </div>
  </div>

</div>