<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="relative pt-8 pb-28 px-4 sm:pt-20 sm:pb-48 sm:px-16 overflow-hidden">

        <div class="z-10 relative flex flex-col">
             <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Categories
            </div>
            <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
                All categories
            </div>
            <!-- <div [giscus] ></div> -->
        </div>
    </div>

</div>
