::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--omanonline-primary-rgb), var(--tw-text-opacity)) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}