<div class="flex flex-col flex-auto min-w-0">
    <span *ngIf="!currentBusinessInfo" class="mr-auto mt-10 ml-auto">
        <mat-spinner></mat-spinner>
    </span>
    <!-- Header -->
    <div *ngIf="currentBusinessInfo" class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div>
            <img class="h-40 lg:h-80 object-cover" src="/assets/images/pages/profile/cover.png" alt="Cover image">
        </div>

        <!-- Business info -->
        <div 
            class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full business-back-color">
                <img class="w-32 h-32 rounded-full ring-4 ring-bg-card p-4" [src]="currentBusinessInfo.symbols.logo"
                    alt="Business avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">{{currentBusinessInfo.name}}</div>
                <div class="text-secondary">{{ currentBusinessInfo.username }}</div>
            </div>



            <!-- Menu -->
            <div class="flex flex-col items-center mt-8 mb-4 lg:m-0 lg:ml-auto">
                <!-- <span class="font-medium">
                    <mat-icon svgIcon="mat_solid:favorite"></mat-icon>
                </span> -->
                <!-- <div class="text-lg">{{currentBusinessInfo.address.addresses[0].address}}</div> -->
                <div class="flex items-center ">
                    <button class="mr-4" mat-icon-button (click)="Save()">
                        <mat-icon *ngIf="!isSave" matTooltip="Save" svgIcon="heroicons_outline:bookmark"></mat-icon>
                        <mat-icon *ngIf="isSave" matTooltip="UnSave" svgIcon="heroicons_solid:bookmark"></mat-icon>
                    </button>



                    <!-- <button matTooltip="Save to Cantact" class="mr-4" mat-icon-button (click)="downloadVCard()">
                        <mat-icon svgIcon="heroicons_solid:user-plus"></mat-icon>
                    </button> -->

                    <button class="mr-4"  matTooltip="Share" mat-icon-button [matMenuTriggerFor]="shareMenu">
                        <mat-icon [svgIcon]="'heroicons_outline:share'"></mat-icon>
                        <mat-menu #shareMenu>
                            <!-- <button mat-menu-item (click)="shareOnTelegram()">
                                <mat-icon>telegram</mat-icon>
                                Telegram
                            </button> -->
                            <button mat-menu-item (click)="shareOnWhatsApp()">
                                <mat-icon>chat</mat-icon>
                                Whatsapp
                            </button>
                            <button mat-menu-item (click)="copyToClipboard()">
                                <mat-icon>link</mat-icon>
                                Copy Link
                            </button>

                        </mat-menu>
                    </button>

                    <button matTooltip="Language" mat-icon-button [matMenuTriggerFor]="langMenu">
                        <mat-icon [svgIcon]="'heroicons_outline:language'"></mat-icon>
                        <mat-menu #langMenu>
                            <!-- <button mat-menu-item (click)="shareOnTelegram()">
                                <mat-icon>telegram</mat-icon>
                                Telegram
                            </button> -->
                            <button mat-menu-item >
                                <mat-icon>language</mat-icon>
                                English
                            </button>
                            <button mat-menu-item >
                                <mat-icon>language</mat-icon>
                                Arabic
                            </button>

                        </mat-menu>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Main -->


    <div class="justify-center w-full max-w-5xl mx-auto">

         <span *ngIf="!currentBusinessInfo" class="mr-auto mt-10 ml-auto">
            <mat-spinner></mat-spinner>
        </span>

        <!-- Tabs -->
        <mat-tab-group *ngIf="currentBusinessInfo" class="sm:px-2 w-full" mat-stretch-tabs="true"
            [animationDuration]="'0'">
            <div class="justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">
                <!-- Home -->
                <mat-tab label="Over View">
                    <ng-template matTabContent>
                        <!-- Over View -->
                        <omanonline-card class="flex flex-col w-full p-8">
                            <div class="text-2xl font-semibold leading-tight">Over View</div>
                            <div class="mt-4">
                                I’m a friendly kitchen assistant who suffers from a severe phobia of buttons.
                                <br><br>
                                Brother of Elijah Jay Watkins, who has phobia of buttons and trust issues.
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                                    <span class="leading-none">{{currentBusinessInfo.username}}</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <span class="leading-none">ACME Corp. Lead UX Designer</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                                    <span class="leading-none">April, 24</span>
                                </div>
                            </div>

                        </omanonline-card>

                        <omanonline-card class="flex flex-col lg:flex-row w-full mt-5">
                            <div
                                class="flex flex-col items-center p-8 lg:px-10 lg:py-12 lg:max-w-20 bg-gray-100 dark:bg-black dark:bg-opacity-10 justify-center">
                                <div class="flex items-center whitespace-nowrap">
                                    <div class="text-4xl font-extrabold tracking-widest lg:rotate-270 lg:relative">
                                        VISION
                                    </div>
                                </div>

                            </div>

                            <div class="p-6 sm:p-8 lg:p-10">
                                <div class="text-3xl font-bold">VISION</div>
                                <div class="mt-2 leading-relaxed text-secondary">
                                    Learn from like-minded individuals which are eager to make a living building stuff
                                    on the web. Pay
                                    once and get lifetime access to the community.
                                </div>
                                <div class="flex items-center mt-10">
                                    <div class="font-medium text-secondary">INCLUDED FEATURES</div>
                                    <div class="flex-auto ml-2 border-b-2"></div>
                                </div>
                                <!-- Features -->
                                <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 mt-6">
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Private forum access</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Access to annual online conference</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Member resources</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Official member T-Shirt</div>
                                    </div>
                                </div>
                            </div>

                        </omanonline-card>

                        <omanonline-card class="flex flex-col lg:flex-row w-full mt-5">
                            <div
                                class="flex flex-col items-center p-8 lg:px-10 lg:py-12 lg:max-w-20 bg-gray-100 dark:bg-black dark:bg-opacity-10  justify-center">
                                <div class="flex items-center whitespace-nowrap">
                                    <div class="text-4xl font-extrabold tracking-widest lg:rotate-270 lg:relative">
                                        MISSION
                                    </div>
                                </div>

                            </div>

                            <div class="p-6 sm:p-8 lg:p-10">
                                <div class="text-3xl font-bold">MISSION</div>
                                <div class="mt-2 leading-relaxed text-secondary">
                                    Learn from like-minded individuals which are eager to make a living building stuff
                                    on the web. Pay
                                    once and get lifetime access to the community.
                                </div>
                                <div class="flex items-center mt-10">
                                    <div class="font-medium text-secondary">INCLUDED FEATURES</div>
                                    <div class="flex-auto ml-2 border-b-2"></div>
                                </div>
                                <!-- Features -->
                                <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 mt-6">
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Private forum access</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Access to annual online conference</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Member resources</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Official member T-Shirt</div>
                                    </div>
                                </div>
                            </div>

                        </omanonline-card>

                        <omanonline-card class="flex flex-col lg:flex-row w-full mt-5">
                            <div
                                class="flex flex-col items-center p-8 lg:px-10 lg:py-12 lg:max-w-20 bg-gray-100 dark:bg-black dark:bg-opacity-10 justify-center">
                                <div class="flex items-center whitespace-nowrap">
                                    <div class="text-4xl font-extrabold tracking-widest lg:rotate-270 lg:relative">VALUE
                                    </div>
                                </div>

                            </div>

                            <div class="p-6 sm:p-8 lg:p-10">
                                <div class="text-3xl font-bold">VALUE</div>
                                <div class="mt-2 leading-relaxed text-secondary">
                                    Learn from like-minded individuals which are eager to make a living building stuff
                                    on the web. Pay
                                    once and get lifetime access to the community.
                                </div>
                                <div class="flex items-center mt-10">
                                    <div class="font-medium text-secondary">INCLUDED FEATURES</div>
                                    <div class="flex-auto ml-2 border-b-2"></div>
                                </div>
                                <!-- Features -->
                                <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 mt-6">
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Private forum access</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Access to annual online conference</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Member resources</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 text-primary"
                                            [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        <div class="ml-2">Official member T-Shirt</div>
                                    </div>
                                </div>
                            </div>

                        </omanonline-card>

                    </ng-template>
                </mat-tab>
                <mat-tab label="Services">
                    <ng-template matTabContent>

                        <omanonline-card class="flex flex-col w-full p-8">
                            <div class="text-2xl font-semibold leading-tight">Services</div>
                            <div class="mt-4">
                                I’m a friendly kitchen assistant who suffers from a severe phobia of buttons.
                                <br><br>
                                Brother of Elijah Jay Watkins, who has phobia of buttons and trust issues.
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                                    <span class="leading-none">{{currentBusinessInfo.username}}</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <span class="leading-none">ACME Corp. Lead UX Designer</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                                    <span class="leading-none">April, 24</span>
                                </div>
                            </div>

                        </omanonline-card>


                    </ng-template>
                </mat-tab>
                <mat-tab label="Contact">
                    <ng-template matTabContent>
                        <omanonline-card class="flex flex-col w-full p-8">
                            <div class="text-2xl font-semibold leading-tight">Contact</div>
                            <div class="mt-4">
                                I’m a friendly kitchen assistant who suffers from a severe phobia of buttons.
                                <br><br>
                                Brother of Elijah Jay Watkins, who has phobia of buttons and trust issues.
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                                    <span class="leading-none">{{currentBusinessInfo.username}}</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <span class="leading-none">ACME Corp. Lead UX Designer</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                                    <span class="leading-none">April, 24</span>
                                </div>
                            </div>

                        </omanonline-card>
                        <omanonline-card class="flex flex-col w-full p-8 mt-5">
                                 <google-map height="500px" width="100%" [zoom]="zoom" [center]="center"
                                    [options]="options">
                                </google-map>
                         </omanonline-card>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Brand Book">
                    <ng-template matTabContent>
                        <omanonline-card class="flex flex-col w-full p-8">
                            <div class="text-2xl font-semibold leading-tight">Brand Book</div>
                            <div class="mt-4">
                                I’m a friendly kitchen assistant who suffers from a severe phobia of buttons.
                                <br><br>
                                Brother of Elijah Jay Watkins, who has phobia of buttons and trust issues.
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                                    <span class="leading-none">{{currentBusinessInfo.username}}</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <span class="leading-none">ACME Corp. Lead UX Designer</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                                    <span class="leading-none">April, 24</span>
                                </div>
                            </div>

                        </omanonline-card>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Gallery">
                    <ng-template matTabContent>
                        <omanonline-card class="flex flex-col w-full p-8">
                            <div class="text-2xl font-semibold leading-tight">Gallery</div>
                            <div class="mt-4">
                                I’m a friendly kitchen assistant who suffers from a severe phobia of buttons.
                                <br><br>
                                Brother of Elijah Jay Watkins, who has phobia of buttons and trust issues.
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                                    <span class="leading-none">{{currentBusinessInfo.username}}</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <span class="leading-none">ACME Corp. Lead UX Designer</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                                    <span class="leading-none">April, 24</span>
                                </div>
                            </div>

                        </omanonline-card>
                    </ng-template>
                </mat-tab>

                <mat-tab label="More Info">
                    <ng-template matTabContent>
                        <omanonline-card class="flex flex-col w-full p-8">
                            <div class="text-2xl font-semibold leading-tight">More Info</div>
                            <div class="mt-4">
                                I’m a friendly kitchen assistant who suffers from a severe phobia of buttons.
                                <br><br>
                                Brother of Elijah Jay Watkins, who has phobia of buttons and trust issues.
                            </div>
                            <hr class="w-full border-t my-6">
                            <div class="flex flex-col">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                                    <span class="leading-none">{{currentBusinessInfo.username}}</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <span class="leading-none">ACME Corp. Lead UX Designer</span>
                                </div>
                                <div class="flex items-center mt-4">
                                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                                    <span class="leading-none">April, 24</span>
                                </div>
                            </div>

                        </omanonline-card>
                    </ng-template>
                </mat-tab>
            </div>
        </mat-tab-group>



    </div>

</div>